@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[#2d3436] text-[#636e72] tracking-wide;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold;
    }

    h1 {
        @apply text-4xl sm:text-5xl md:text-6xl;
    }

    h2 {
        @apply text-3xl sm:text-4xl;
    }
    li {
        @apply cursor-pointer;
    }

    button {
        @apply shadow-xl shadow-gray-900 hover:shadow-gray-700 bg-[#d63031] hover:bg-[#8b1d1d]  hover:text-[#a0a8aa] duration-300 text-[#2d3436] font-semibold ease-in;
    }
}
.loading {
    animation-name: loading-spinner;
    animation-duration: 3s;
}

@keyframes loading-spinner {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(300deg);
    }
}

/* .nameInLogo {
    position: absolute;
    top: 277px;
    left: 800px;
} */

/* 
BG: #2d3436
bg-light: #636e72
red: #d63031
gray-light:#dfe6e9 */
